<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>pega-texto</title>
</head>

<body>

    <div id="input-div">
        <% if(content){ %>
            <textarea class="text" id="text-content" oninput="logcontent()" spellcheck="false"
                style="font-size: 13pt"><%= content %></textarea>
            <% } else{ %>
                <textarea class="text" id="text-content" oninput="logcontent()" spellcheck="false"></textarea>
                <% } %>
    </div>

    <script>
        const socket = io()
        const textContent = document.getElementById('text-content');

        socket.on('text-changed', (data) => {
            textContent.value = data.content;
        })

        textContent.onkeydown = (e) => {
            //Tab indentation
            if (e.keyCode == 9) { //tab keycode
                e.preventDefault();
                let content = textContent.value;
                let cursor = textContent.selectionStart;
                let end = textContent.selectionEnd;

                textContent.value = content.substring(0, cursor) + "\t" + content.substring(end);
                textContent.selectionStart = cursor + 1;
                textContent.selectionEnd = cursor + 1;

                return false;
            }
        }

        function logcontent() {
            const text = document.getElementById('text-content');
            let saveTime = setTimeout(() => {
                /* 
                Após 3 segundos sem novo input é emitido um novo evento
                do cliente para servidor para que o conteúdo do texto seja salvo
                */
                socket.emit('save-time', { content: text.value });

                //Novo evento é emitido para atualizar o conteúdo da pagina
                socket.emit('input-changed', { content: text.value });

            }, 3000);

            text.addEventListener('input', (event) => {
                clearInterval(saveTime);

            })
            // console.log(text.value);
        }
    </script>

</body>

</html>